.Complaint-container{
    /* background: linear-gradient(60deg,rgba(205, 166, 95, 0.735),rgba(210, 138, 4, 0.479)); */
    background: linear-gradient(60deg,rgba(18, 17, 17, 0.735),rgba(0, 0, 0, 0.479));
    
    width: 50%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
    border: 2px groove black;
    box-shadow: -4px 4px 4px rgb(58, 57, 57);
    border-radius: 1px;
    
}

textarea{
    width: 100%;
    background-color: black;
    opacity: 0.4;
    color: white;
}
body{
    background: url("../img/complaint.webp");

}